locals.zsh
log/.zsh_history
projects.zsh
custom
!custom/plugins/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/

# Mac os x files
.DS_Store

# Temp vim files
*~
*.*~
*.swo

# Remove tmux logs
*.log
